.NewUser {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  max-width: 30rem;
  box-shadow: 0px 0rem 0.35rem rgb(0 0 0 / 18%);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.NewUser p {
  width: 50%;
  margin: 0;
}

.NewUser:hover {
  box-shadow: 0px 0rem 0.35rem salmon;
  border: none;
}
