.UserList {
  max-width: 30rem;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: all ease;
  -webkit-transition: all ease;
  -moz-transition: all ease;
  -ms-transition: all ease;
  -o-transition: all ease;
}
