.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 9;
  animation: slide 0.5s ease forwards;
  -webkit-animation: slide 0.5s ease forwards;
}
.error {
  position: fixed;
  right: 50%;
  transform: translateX(50%) translateY(-100%);
  z-index: 10;
  opacity: 1;
  animation: drop 0.3s ease forwards;
  -webkit-animation: drop 0.3s ease forwards;
  -webkit-transform: translateX(50%) translateY(-100%);
  -moz-transform: translateX(50%) translateY(-100%);
  -ms-transform: translateX(50%) translateY(-100%);
  -o-transform: translateX(50%) translateY(-100%);
}

@keyframes slide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes drop {
  from {
    transform: translateX(50%) translateY(-100%);
    -webkit-transform: translateX(50%) translateY(-100%);
    -moz-transform: translateX(50%) translateY(-100%);
    -ms-transform: translateX(50%) translateY(-100%);
    -o-transform: translateX(50%) translateY(-100%);
  }
  to {
    transform: translateX(50%) translateY(100%);
    -webkit-transform: translateX(50%) translateY(100%);
    -moz-transform: translateX(50%) translateY(100%);
    -ms-transform: translateX(50%) translateY(100%);
    -o-transform: translateX(50%) translateY(100%);
  }
}
